/Makefile
/Makefile.am
/Makefile.in
/client.h
/llist.c
/llist.h
/llist.o
/logging.c
/logging.h
/logging.o
/millstone
/millstone.c
/millstone.h
/millstone.o
/server.h
/stub.c
/stub.o
/sync_storage.c
/sync_storage.h
/sync_storage.o
