/.deps
/Makefile
/Makefile.in
/TAGS
/calc_digest.o
/client.o
/config.h
/config.h.in
/config.h.in~
/file_meta.o
/logging.o
/mapped_region.o
/millstone
/millstone.o
/msg.o
/queue.o
/server.o
/stamp-h1
/sync_storage.o
/task_queue.o
